.DS_Store
*.pidb
*.orig.meta
*.ilk
*.ilk.meta
*.sln
*.userprefs
*.csproj
*.csproj.user
*.unityproj
*.DotSettings.user
*.idea*

/CSharp??Support/compilation.log
/CSharp??Support/compilation log.txt

UnityVS.VersionSpecific.dll
UnityVS.VersionSpecific.dll.meta

/Assets/StreamingAssets/build_info.txt
/Assets/StreamingAssets/build_info.txt.meta
/Assets/StreamingAssets/crashlytics-build.properties
/Assets/StreamingAssets/crashlytics-build.properties.meta

Thumbs.db
thumbs.db
**/.vs/**
/Build/*
/Library/*
/Logs/*
/Temp/*
/Obj/*
/obj/*

/ConfigParser/bin/*
/ConfigParser/obj/*
/ProjectSettings/ProjectVersion.txt
/buildDirLocation.txt
*remote_config_data*
ProjectSettings/ProBuilderSettings.json
**/_ReSharper.Caches/**
UserSettings
Recordings

# Never ignore DLLs in the FMOD subfolder.
!/[Aa]ssets/Plugins/FMOD/**/lib/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!/[Aa]ssets/Gizmos/FMOD/*
!/[Aa]ssets/Editor Default Resources/FMOD/*
                    
# Ignore the Cache folder since it is updated locally.
/[Aa]ssets/Plugins/FMOD/Cache/*
                    
# Ignore bank files in the StreamingAssets folder.
/[Aa]ssets/StreamingAssets/**/*.bank
/[Aa]ssets/StreamingAssets/**/*.bank.meta
                    
# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log
